@using RunTo.Data.Enum
@using RunTo.ViewModel
@model CreateClubViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Club";
}

<h2>Create Club</h2>

<form method="post" asp-action="Create" enctype="multipart/form-data">
    <input type="hidden" id="AppUserId" name="AppUserId" asp-for="AppUserId" />
    <div class="form-group">
        <label asp-for="Title" class="control-label">Title</label>
        <input asp-for="Title" class="form-control" placeholder="Title">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label">Description</label>
        <textarea asp-for="Description" class="form-control" placeholder="Description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ClubCategory" class="control-label">Club Category</label>
        <select asp-for="ClubCategory" asp-items="@Html.GetEnumSelectList<ClubCategory>()" class="form-control">
            <option value="">--Select--</option>
        </select>
        <span asp-validation-for="ClubCategory" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address.Street" class="control-label">Street</label>
        <input asp-for="Address.Street" class="form-control" placeholder="Street">
        <span asp-validation-for="Address.Street" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address.City" class="control-label">City</label>
        <input asp-for="Address.City" class="form-control" placeholder="City">
        <span asp-validation-for="Address.City" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Address.state" class="control-label">State</label>
        <input asp-for="Address.state" class="form-control" placeholder="State">
        <span asp-validation-for="Address.state" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image" class="control-label">Image</label>
        <input asp-for="Image" type="file" class="form-control">
        <span asp-validation-for="Image" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
